*{
    margin: 0px;
    padding: 0px;
}

#nav{
    position: fixed;
    background-color:gray;

}
li{
    display: inline-block;
}
a{
    color:rgb(158, 185, 226);
    text-align: center;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:50px;
}
  p{
      background-image: url(../img/navpic.jpg);
      background-repeat: no-repeat;
      background-position: right;
      position: relative;
      font-size: 20px;
      color: rgb(75, 71, 71);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      height: 700px;
      padding: 40px;
      padding-top: 50px;
  }         
table{
    background-color: rgb(231, 232, 236);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 40px;
    font-size:18px;
    font-style: normal;
    height: 250px;
    width: 400px;
    border-style: solid;
    color:rgb(20, 89, 167); 

}
#form1 button{
    height: 38px;
    width: 80px;
    margin-left:90px;
    margin-top: 30px;
    font-size: 16px;
    color: rgb(20, 89, 167); 
    background-color: white;
    

}
#form1{
    background-color: rgb(231, 232, 236);
    padding: 20px;
    margin-left: 40px;
    margin-bottom: 100px;
    margin-top: 10px;
    font-size:23px;
    font-style: normal;
    width: 250px;
    height: 250px;
    border-style: solid;
    background-position: right;
    color: rgb(20, 89, 167); 
}
#form2 button{
    height: 40px;
    width: 90px;
    margin-left: 68px;
    font-size: 16px;
    color: rgb(20, 89, 167); 
    background-color: white;

}
#form2 {
    background-color: rgb(231, 232, 236);
    padding: 30px;
    margin-left: 40px;
    margin-bottom: 100px;
    margin-top: 10px;
    font-size:25px;
    font-style: normal;
    width: 320px;
    height: 350px;
    border-style: solid;
    color:rgb(20, 89, 167); 

}


h1{
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  rgb(54, 39, 190);
    padding-top: 250px;
    padding-left: 400px; 
    background-image: url(../img/supernovalogo.png);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
}
h3{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 90px;
    padding-bottom: 20px;
    color: rgb(97, 91, 91);
}
#img{
    background-image: url(../img/supernovalogo.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 300px;
}
#img h4{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(51, 51, 104);
    text-align: right;
    margin-right: 40px;
}